@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    //CAN STILL ACCESS OTHER CATEGORIES-update
    @Html.Label("Select category")
    @Html.DropDownList("CategoryId")

    @Html.LabelFor(model => model.Complete)
    @Html.CheckBoxFor(model => model.Complete)

    @Html.Label("Due date")
    @Html.TextBoxFor(model => model.DueDate,
      "{0:MM-dd-yyyy}", new { @type = "date"})

    <input type="submit" value="Add new task" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>