
@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category
@using ToDoList.Models

<h2>Category Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Items.Count == 0)
{
  <p>No categories yet!</p>
}
else
{
  <h4>Items in the category.</h4>
  @foreach(var join in Model.Items)
  {
   <p>@join.Item.Description</p>
  }
}

<p>@Html.ActionLink("Add new item", "Create", "Items")</p>
<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.CategoryId})</p> 
<p>@Html.ActionLink("Back", "Index")</p>